/UsersService/obj
/UsersService/bin
/UsersService.Application/obj
/UsersService.Application/bin
/UsersService.Core/obj
/UsersService.Core/bin
/UsersService.Infrastructure/obj
/UsersService.Infrastructure/bin
/UsersService.UnitTests/bin
/UsersService.UnitTests/obj
/UsersService/*.user
/UsersService/Log
/bin
/obj
/TestResults
/.vs
/UsersService/logs
